<h1>Volunteering Events</h1>
<div class="container">
  <table class="table">
    <caption>Events</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <!-- <tr>   -->
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.startDate | date}}</td>
        <td>{{ event.location }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-event-dash></app-event-dash>