<p>
  Welcome {{ this.userData.uid }}
  {{ this.message }}
</p>
<mat-tab-group>
  <mat-tab label="Pocket Dashboard">
    
    <mat-divider [inset]="true"></mat-divider>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <div class="container">
          <table class="table">
            <!-- <caption>Events</caption> -->
            <thead>
              <tr>
                <th></th>
                <th>Pocket ID</th>
                <th>Name</th>
                <th>Premium</th>
                <th>Periodicity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pocket of pockets" >
                <!-- <tr>   -->
                <td>
                    <input type="radio" name="radiogroup" (change)="onSelectionChange(pocket)">
                    <!-- <input type="radio" name="radiogroup"> -->
                </td>  
                <td>{{ pocket.PocketID }}</td>
                <td>{{ pocket.PocketName }}</td>
                <td>{{ pocket.PeriodicPremium }}</td>
                <td>{{ pocket.Frequency }}</td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </mat-grid-tile>
      <mat-divider [inset]="true"></mat-divider>
      <mat-grid-tile>
        <!-- <app-eventreg></app-eventreg> -->
        <mat-card class="example-card"  *ngFor="let pocket1 of selectedPocket">
          <mat-card-header>
              <mat-card-title><h1>Pocket Mutation</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <form class="example-form" >  
              <table class="example-full-width" cellspacing="0">
                    
                  
                  <mat-form-field style="width:25vw">
                  <textarea matInput placeholder=POCKET_ID:{{pocket1.PocketID}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  POCKET_NAME...........<mat-form-field   style="width:15vw">
                      <textarea matInput placeholder={{pocket1.PocketName}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  STATUS..........................<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.Status}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  POCKET_TYPE.............<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.PocketType}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  ACCOUNT_NUMBER....<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.AccountNo}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  CREATION-DATE...........<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.CreationDate}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  ACTIVE_TILL..................<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.EndDate}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  TARGET_BALANCE.......<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.TargetBalance}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  PERIODIC_PREIUM.......<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.PeriodicPremium}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  PREMIUM-FREQUENCY<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.Frequency}}
                      cdkTextareaAutosize></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  ACCUMULATED_BALANCE....<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.AccumulatedBalance}}></textarea>
                  </mat-form-field>
                  <mat-divider [inset]="true"></mat-divider>
                  LAST_CHANGED...........<mat-form-field   >
                      <textarea matInput placeholder={{pocket1.MutationTS}}></textarea>
                  </mat-form-field>
                  
              </table>
              </form>
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button (click)="handleEventRegistration()" color="primary">Submit Changes</button>
              
          </mat-card-actions>
        </mat-card>   
        
      </mat-grid-tile>
    </mat-grid-list>
    
    
  <!-- <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <app-stats></app-stats>
    </mat-grid-tile>
    
  </mat-grid-list> -->
  </mat-tab>
  <mat-tab label="Created Events"> 
      
        <mat-card>
        <table>
          <tbody>
            <tr>
              <td>Download Events Data</td>
              <td></td>
              <td></td>
              <td></td>
              <td><button mat-raised-button (click)="exportAsXLSX()" color="primary">Download</button></td>
            </tr>
          </tbody>
        </table>
      </mat-card>
      <div class="container">
        <table class="table">
      
          <thead>
            <tr>
              <th>POC Name</th>
              <th>Event Name</th>
              <th>Category</th>
              <th>Venue Requirement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.pocName }}</td>
              <td>{{ event.eventName }}</td>
              <td>{{ event.category }}</td>
              <td>{{ event.volunteersReq }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </mat-tab>
</mat-tab-group>