<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj6l5qP0p_gAhWQXCsKHaAgD_EQjRx6BAgBEAU&url=https%3A%2F%2Fwww.youtube.com%2Fuser%2FCognizantOutreach&psig=AOvVaw1pn_wSACBzzSNnSR9Zt_f9&ust=1549285912998259">
</div>
<h2>Here are some links to help you start: </h2> -->
<!-- <app-login></app-login> -->
<div>
  <app-headermenu></app-headermenu>
</div>
<br>
<div class="container">
  <!-- <ul class="nav nav-tab">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Radar-chart">Radar Chart</a>
    </li>
  </ul> -->
  <div>
    <router-outlet></router-outlet>
  </div> 
</div>
<!-- <br>
<div>
    <app-footer></app-footer>
</div> -->
