<div style="position:relative">
  <div style="float:right">
  <!-- <div class="container">  -->
    <canvas width="600" height="500" baseChart
            [datasets]="statsData"
            [labels]="statsLabels"
            [options]="statsOptions"
            [legend]="statsLegends"
            [chartType]="statsChartType1">
    </canvas>
  </div>
  <!-- <div style="float:left">  
    <canvas width="350" height="350" baseChart
            [datasets]="statsData"
            [labels]="statsLabels"
            [options]="statsOptions"
            [legend]="statsLegends"
            [chartType]="statsChartType2">
    </canvas> 
  </div> -->
</div>
